nodered/flow.json

[
    {
        "id": "d7f6f48c.252f98",
        "type": "kafka in",
        "z": "54103b3f.bc3244",
        "zkquorum": "zookeeper:2181",
        "topics": "test",
        "groupId": "null",
        "debug": "",
        "autoCommit": true,
        "x": 224.52430725097656,
        "y": 255.65277862548828,
        "wires": [
            [
                "d5564b63.3ac718"
            ]
        ]
    },
    {
        "id": "d5564b63.3ac718",
        "type": "debug",
        "z": "54103b3f.bc3244",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 643.5174102783203,
        "y": 237.56250762939453,
        "wires": []
    },
    {
        "id": "dbc7caa7.140e38",
        "type": "inject",
        "z": "54103b3f.bc3244",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 340,
        "y": 440,
        "wires": [
            [
                "6ea81caa.3170a4"
            ]
        ]
    },
    {
        "id": "6ea81caa.3170a4",
        "type": "kafka",
        "z": "54103b3f.bc3244",
        "zkquorum": "zookeeper:2181",
        "topics": "test",
        "debug": "",
        "x": 596.5208282470703,
        "y": 425.3229446411133,
        "wires": []
    }
]
